<!-- Include the header layout with specific stylesheet -->
<%- include('components/headers.ejs', { css: 'public/css/home.css'}) %>

<!-- Include the navigation bar -->
<%- include('components/navbar.ejs') %>

<!-- Main content of the page -->
	<main class="container-fluid mt-auto py-4">
  	<div class="row justify-content-evenly gap-4 gap-md-5 gap-lg-5">

			<!-- Users button -->
			<%- include('components/home/buttonDashboard.ejs', {
				imgSrc: 'public/images/icons/users.png',
				imgAlt: 'Users',
				buttonText: 'Users'
			}); %>
			<!-- Items button -->
			<%- include('components/home/buttonDashboard.ejs', {
				imgSrc: 'public/images/icons/Items.png',
				imgAlt: 'Items',
				buttonText: 'Items'
			}); %>
			<!-- Shipping Methods button -->
			<%- include('components/home/buttonDashboard.ejs', {
				imgSrc: 'public/images/icons/shipping.png',
				imgAlt: 'Shipping Methods',
				buttonText: 'Shipping Methods'
			}); %>
			<!-- Orders button -->
			<%- include('components/home/buttonDashboard.ejs', {
				imgSrc: 'public/images/icons/Orders.png',
				imgAlt: 'Orders',
				buttonText: 'Orders'
			}); %>

		</div>
	</main>

<!-- Include the footer layout -->
<%- include('components/footer.ejs') %>

<!-- Include final scripts and close </body> and </html> tags -->
<%- include('components/scripts.ejs') %>

